// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$var: 15px;

.splash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $var*4 auto;
  font-size: $var;
}
.splash-image-container {
  background-image: url('https://s3-us-west-1.amazonaws.com/instacram/splash.gif');
  background-size: contain;
  flex-basis: 800px;
  background-repeat: no-repeat;
  // background-image: image-url('splash-phones.png');
  // background-size: cover;
  // flex-basis: 420px;
  background-position: 50% 50%;
  height: 620px;
}
.splash-form-container {
  h1 {
    margin-top: 0px;
    font-size: 42px;
  }
  p {
    color: #262626;
    &.greeting {
      font-size: 1.25em;
    }
    &.fine-print {
      margin: 20px 20px 0px;
      font-weight: lighter;
      line-height: 18px;
    }
  }
}
.splash-box {
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background: #fff;
  padding: $var*2;
  width: 350px;
  text-align: center;
  margin-bottom: $var;
  &:last-child {
    padding: $var $var*2;
  }
  &.session-form p {
    color: #999;
  }
  &.redirect  {
    padding-top: $var;
    padding-bottom: $var;
  }
}
.or-container {
  display: flex;
  align-items: center;
  justify-content: space;
  .or {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin: $var;
    color: #999;
  }
  .line {
    flex: 1;
    background: #999;
    height: 1px;
  }
}

.cta {
  text-align: center;
  color: #262626;
  line-height: 18px;
  margin-top: $var*2;
}

@media (max-width: 820px) {
  .splash-container {
    margin-bottom: 15px;
  }
  .splash-image-container {
    display: none;
  }
}
