button.delete-comment {
  background: transparent;
  color: #c7c7c7;
  float: right;
  width: auto;
  padding: 0px;
  border: 0px;
  font-size: 14px;
  margin-top: 5px;
  &:before {
    content: '\2715';
  }
  &:hover {
    box-shadow: none;
  }
}
