body, ul, input, div, figure {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

input {
  font-size: 14px;
  font-weight: lighter;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  line-height: 1em;
  padding: 10px 15px;
  margin-bottom: 15px;
  &:focus {
    outline: none;
    border: 1px solid #b2b2b2;
  }
}

button {
  width: 100%;
  color: #fff;
  font-size: 14px;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 3px;
  padding: 7px;
  outline: none;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px 3px #ccc;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #3897f0;
}
