.feed-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
article.feed-item-container {
  border: 1px solid #e6e6e6;
  max-width: 600px;
  border-radius: 3px;
  margin-bottom: 60px;
  background: #fff;
  font-size: 14px;
  header.user-detail-container {
    padding: 15px;
    display: flex;
    align-items: center;
    .user-box {
      display: flex;
      flex-direction: column;
      & > * {
        display: flex;
      }
      .location {
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: capitalize;
        line-height: 1.2em;
      }
    }
  }
  figure.item-image-container {
    position: relative;
    img {
      width: 100%;
    }
  }
  section.item-goodies {
    padding: 15px;
    div.image-actions-container {
      margin-bottom: 10px;
      button.icon {
        width: 23px;
        height: 23px;
      }
      padding-bottom: 5px;
    }
    div.comments-container {
      margin-bottom: 10px;
      li {
        margin-bottom: 6px;
      }
    }
    div.add-comments-container {
      border-top: 1px solid #e6e6e6;
      padding-top: 20px;
      input {
        border: 0px;
        padding: 0px;
        font-weight: normal;
        font-size: 15px;
        margin-bottom: 5px;
      }
    }
  }
}
span.avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  text-indent: -99999px;
  margin-right: 10px;
}
.username {
  font-size: 14px;
  font-weight: bold;
}
