.grid > * {
  max-width: 935px;
  margin: 0 auto;
}
.grid-container {
  column-count: 3;
  column-gap: 1em;
  column-rule: 0px;
}
.grid-item {
  // display: inline-flex;
  display: block;
  margin-bottom: 1em;
  background: #000;
  height: 275px;
  overflow: hidden;
  img {
    width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
    // max-height: 275px;
    &:hover {
      cursor: pointer;
      opacity: 0.65;
    }
  }
}

@media (max-width: 935px) {
  .grid-container {
    column-count: 2;
  }
}
@media (max-width: 540px) {
  .main-content-container.grid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .grid-container {
    column-count: 3;
    column-gap: 0px;
  }
  .grid-item {
    margin-bottom: 0px;
    max-height: 125px;
  }
}
