#explore-page {
  .main-content-container {
    margin-top: 0px;
  }
}
.map-temp {
  background: url("http://res.cloudinary.com/norriskwan/image/upload/v1500679858/temp-map_wvavp4.png");
  background-size: cover;
  background-position: 50%;
  min-height: 500px;
  width: 100%;
}
