#explore-page {
  .main-content-container {
    margin-top: 0px;
  }
  .grid-item{
    display: inline-block;
    img {
      max-height: 100%;
      display: block;
    }
  }
}
.map-temp {
  background: url("https://storage.googleapis.com/instacram/temp-map.png");
  background-size: cover;
  background-position: 50%;
  min-height: 500px;
  width: 100%;
}
