body.ReactModal__Body--open {
  overflow-y: hidden;
}
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  padding: 15px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal {
  min-width: 300px;
  // max-height: 600px;
  height: auto;
  background: #fff;
  outline: none;
  overflow: scroll;
}
.modal-overlay_after-open {
  overflow: hidden !important;
}
button.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("https://s3-us-west-1.amazonaws.com/instacram/close.svg") transparent;
  background-size: cover;
  text-indent: 999px;
  width: 30px;
  height: 30px;
  border: 0px;
  color: #fff;
  box-shadow: none;
  z-index: 99999;
  &:hover {
    outline: none;
  }
}

.modal-content-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.modal-media-box {
  max-height: 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.modal-details-box {
  padding: 15px;
  width: 335px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .user-profile {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
  }
  .user-box {
    margin-right: 15px;
    font-size: 15px;
    span {
      display: flex;
    }
  }
  .avatar-box {
    margin-right: 15px;
    flex: none;
  }
  .avatar-container {
    width: 50px;
    height: 50px;
  }

}
.comments-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .comments-display-container {
    flex-grow: 1;
    max-height: 420px;
    overflow-y: inherit;
    overflow-x: hidden;
  }
}

@media (max-width: 860px) {
  .modal {
    max-width: 600px;
  }
  .modal-details-box {
    width: 100%;
  }
  .modal-content-container {
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .modal-media-box {
    height: auto;
  }
}

@media (max-width: 375px) {
  .modal {
    max-height: 600px;
    overflow: scroll;
  }
}
