// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Lobster');
$bgcolor: #fafafa;
$var: 15px;

body {
  background: $bgcolor;
  font-family: sans-serif;
}

.container {
  padding: $var;
}

.errors-list {
  color: red;
  margin-bottom: $var;
}

.main-content-container {
  position: relative;
  margin-top: 77px;
  padding: 60px 15px;
}

@media (max-width: 640px) {
  .main-content-container {
    padding: 30px 15px;
  }
}
