// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
$bgcolor: #fafafa;
$var: 15px;

body {
  background: $bgcolor;
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: $var;
}

.errors-list {
  color: red;
  margin-bottom: $var;
}

.main-content-container {
  position: relative;
  margin-top: 77px;
  padding: 60px 15px;
}

@media (max-width: 640px) {
  .main-content-container {
    padding: 30px 15px;
  }
}

.loading {
  font-family: 'Lobster', cursive;
  text-align: center;
  width: 100%;
  font-size: 2em;
}

.center-text {
  text-align: center;
}

.shootr {
  font-family: 'Lobster', cursive;
}

.profile-arrow {
  position: absolute;
  right: 39px;
  top: -8px;
}
.profile-arrow-cover {
  position: absolute;
  right: 32px;
  top: 0px;
}

.arrow-up {
  background: #fff;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
  height: 14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
  z-index: 1;
}
.arrow-up-cover {
z-index: 10;
background: #fff;
display: block;
padding: 8px 15px;
}
